# Python
*.pyc
*.egg
*.egg-info
dist
build
eggs
parts
__pycache__/

#------------------------------------

# Testing
.coverage
.vagrant
coverage/
screenshot/

#------------------------------------

# Editor
*~
*.swo
*.swp
.DS_Store
.idea

#------------------------------------

# venv
e2evenv
dj/

